* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
  padding: 2rem;
}
h1 {
  text-align: center;
  color: #6441a5;
  font-size: 1.6rem;
  font-weight: 800;
}
.streams {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
.stream-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.stream-container::before {
  content: "LIVE";
  background-color: red;
  color: #ffffff;
  display: block;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  font-weight: 600;
}
.stream-container a {
  text-decoration: none;
}
.stream-container img {
  width: 100%;
  border-radius: 15px;
}
.stream-container h2 {
  font-size: 1rem;
  color: #000;
  line-height: 1.2;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 600;
  min-height: 2.5rem;
}
.stream-container p {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  color: #6441a5;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.stream-container p svg {
  margin-right: 0.5rem;
}
#search-container {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}